name: Django CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: github_actions
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'
    
    - name: Install uv
      run: |
        pip install --upgrade uv
    
    - name: Install Dependencies
      run: |
        uv sync --frozen

    - name: Validate seed fixture
      env:
         DB_NAME: github_actions
         DB_USER: postgres
         DB_PASSWORD: postgres
         DB_HOST: localhost
         DB_PORT: 5432
      run: |
        uv run manage.py migrate
        uv run manage.py seed_db
        uv run manage.py seed_db
        
    - name: Run Tests
      env:
         DB_NAME: github_actions
         DB_USER: postgres
         DB_PASSWORD: postgres
         DB_HOST: localhost
         DB_PORT: 5432
      run: |
        uv run python manage.py test
        
    - name: Run linting
      run: |
        uv run black . --check

  deploy:
    needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    
    steps:
    - name: Deploy to Digital Ocean
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.DROPLET_IP }}
        username: ${{ secrets.DROPLET_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          # Cleanup Docker resources
          docker system prune -a -f

          # Cleanup system logs
          sudo journalctl --vacuum-time=3d
          sudo apt clean

          # Update codebase
          cd opt/trivia/
          git fetch origin main
          git reset --hard origin/main

          # Create .env file using GitHub secrets
          cat > .env << EOL
          # Debug Mode
          DEBUG=False
          
          # Database Configuration
          DB_NAME=${{ secrets.DB_NAME }}
          DB_USER=${{ secrets.DB_USER }}
          DB_PASSWORD=${{ secrets.DB_PASSWORD }}
          DB_HOST=${{ secrets.DB_HOST }}
          DB_PORT=${{ secrets.DB_PORT }}

          # AWS S3 Configuration
          AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}

          # Django Secret Key
          SECRET_KEY=${{ secrets.SECRET_KEY }}

          EOL

          # Remove existing containers, volumes, and networks
          docker-compose down -v --remove-orphans
          docker-compose up -d --build
